<div class="kt-portlet__body">
    <div class="tab-content">
        <div class="tab-pane active" id="kt_widget2_tab1_content">
            <div class="kt-widget2">
                {% for d in data %}
                    <div class="kt-widget2__item kt-widget2__item--primary">
                        <div class="kt-widget2__checkbox"></div>
                        <div class="kt-widget2__info">
                            <a href="#" class="kt-widget2__title">
                                <i class="{{ d.type.class }}"></i> {{ d.type.name }}
                            </a>
                            <a href="#" class="kt-widget2__username">
                                {% if d.hasSubscription %}{{ d.hasSubscription }}{% else %}Cet utilisateur n'est pas abonné{% endif %}
                            </a>
                        </div>
                        <div class="kt-widget2__actions" style="visibility: visible;">
                            <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                <label>
                                    <input
                                            id="input_subscribe_{{ d.type.id }}"
                                            data-url="{{ path('kalitics_notification_subscription_subscribe', {'idu' : user.id, 'idt' : d.type.id}) }}"
                                            onChange="updateSubscription({{ d.type.id }});"
                                            type="checkbox"
                                            {% if d.hasSubscription %}checked="checked"{% endif %}
                                            name=""
                                    >
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script>

    function updateSubscription(idType){
        $.ajax({
            url: $('#input_subscribe_'+idType).data('url'),
            type: "POST",
            dataType: 'json',
            success: function (data) {
                console.log('set to : '+data);
            }
        });
    }

</script>

