.mail-preview {
    width: 100%;
    min-height: 200px;
    border: 1px solid #e2e5ec;
    border-radius: 6px;
    padding: 2px;
}

.mail-preview-element {
    margin: 0 auto 2px;
    padding: 5px;
    border: 1px solid #e2e5ec;
    border-radius: 5px;
}

.custom-file-label {
    padding-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file-label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f093";
}

.bh-list-mail-history.active {
    background: rgba(var(--mainColorRGB), 0.3) !important;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none !important;
    touch-action: none !important;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee !important;
    box-shadow: none !important;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none !important;
}