{% extends 'app/layout.html.twig' %}

{% block body_content %}

    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Notifications</h3>
            </div>
        </div>
        <div class="kt-portlet__body" style="">
            <div class="kt-timeline-v2">
                <div class="kt-timeline-v2__items kt-padding-top-25 kt-padding-bottom-30">
                    {% for userNotification in userNotifications %}
                        {% include '@KaliticsNotification/list/_includes/_timed_element.html.twig' with {'userNotification' : userNotification, 'selected' : id is defined and userNotification.id == id ? true : false } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
