<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px" aria-expanded="true">
    <span class="kt-header__topbar-icon"><i class="flaticon2-bell-alarm-symbol"></i></span>
    {% if countNew > 0 %}
        <span class="kt-badge kt-badge--danger" style=" position: absolute;
                                                        left: 50%;
                                                        width: 4px;
                                                        height: 4px;
                                                        background-clip: padding-box;
                                                        margin-left: -1.5px;
                                                        top: 15px;">
        </span>
    {% endif %}
</div>


<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
    <form>

        <div class="kt-head kt-head--skin-light kt-head--fit-x kt-head--fit-b">
            <h3 class="kt-head__title">
                Notifications
                <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">{{ countNew }} new</span>
            </h3>
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Notifications</a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll ps" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">
                    {% if notifications|length == 0 %}
                        <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                            <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                Vous êtes à jours
                                <br>Pas de notification.
                            </div>
                        </div>
                    {% else %}
                        {% for userNotif in notifications %}
                            <a href="{{ path('kalitics_notification_list', {'id' : userNotif.id}) }}" class="kt-notification__item {% if userNotif.seenAt is not null %}kt-notification__item--read{% endif %}">
{#                            <a onclick="$('#modal-content_notification_detail').load('{{ path('kalitics_notification_detail', {'id' : userNotif.id}) }}', function(){});$('#notification_detail_modal').modal('show');" class="kt-notification__item {% if userNotif.seenAt is not null %}kt-notification__item--read{% endif %}">#}
                                <div class="kt-notification__item-icon">
                                    <i class="{{ userNotif.notification.type.class }}"></i>
                                </div>
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title">
                                        {{ userNotif.notification.subject }}
                                    </div>
                                    <div class="kt-notification__item-time">
                                        {{ userNotif.notification.createdAt | time_diff }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>

