{% for key, variables in results %}
    <div class="border-bottom">
        {{ key }}
    </div>
    <div class="d-flex flex-wrap flex-row">
    {% for variable, usage in variables %}
        <div class="p-10 text-center" data-container="body" data-toggle="tooltip" data-placement="top" title="{{ usage }}">
            <strong>{{ '{{ ' ~ variable ~ ' }}' }}</strong>
        </div>
    {% endfor %}
    </div>
{% endfor %}
