<div class="pt-3">
    <p>Pièces jointes :</p>

{% for result in results %}
    <button class="btn btn-outline-brand mx-1 my-1" type="button">
        <i class="fa fa-paperclip"></i> {{ result['name'] }}
    </button>
{% endfor %}
</div>