{% extends 'app/layout.html.twig' %}

{% block title %}Mailer template{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .mail-preview {
            width: 100%;
            min-height: 200px;
            border: 1px solid #e2e5ec;
            border-radius: 6px;
            padding: 2px;
        }

        #mailer_template_preview_subject,  #mailer_template_preview_content {
            margin: 0 auto 2px;
            padding: 10px;
            border: 1px solid #e2e5ec;
            border-radius: 5px;
        }

        .custom-file-label::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            content: "\f093";
        }
    </style>
{% endblock %}

{% block body_content %}

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head">

            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Template email
                </h3>
            </div>

            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-actions">
                    <a href="{{ path('kalitics_notification_mailer_templating_index') }}" class="btn btn-upper btn-bold btn-secondary pull-right cancel-form">
                        Retour à la liste
                    </a>
                </div>
            </div>

        </div>
        <div class="kt-portlet__body">


            <div class="row">
                <div class="col-12">

                    {{ form_start(form) }}

                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.header) }}
                    {{ form_row(form.footer) }}


                    {% for field in ['To', 'From', 'Replyto', 'Cc'] %}
                        <hr>
                        {{ form_row(form['default'~field]) }}
                        {{ form_row(form['show'~field]) }}
                        {{ form_row(form['readonly'~field]) }}
                    {% endfor %}

                    <hr>
                    {{ form_row(form.mailableEntity) }}
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Variables</label>
                        <div class="col-sm-9" id="mailer_template_emaiable_association">
                        </div>
                    </div>

                    {{ form_row(form.subject) }}
                    {{ form_row(form.content) }}
                    {{ form_row(form.defaultAttachments) }}

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Prévisualisation</label>
                        <div class="col-sm-9">
                            <div class="mail-preview">
                                <div id="mailer_template_preview_subject"></div>
                                <div id="mailer_template_preview_content"></div>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-upper btn-label-success pull-right btn-bold">
                        Enregistrer
                    </button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {

            var lists = ['defaultTo', 'defaultFrom', 'defaultReplyto'];

            $.each(lists, function (k, v) {
                $('#mailer_template_'+v).css({'width': '100%'});
                $('#mailer_template_'+v).select2({
                    multiple: true,
                    tags: true,
                });
            });

            $('#mailer_template_header').hide();
            $('label[for=mailer_template_header]').click(function() {
                if ($('#mailer_template_header').is(':hidden')) {
                    $('#mailer_template_header').show();
                } else {
                    $('#mailer_template_header').hide();
                }
            });

            $('#mailer_template_footer').hide();
            $('label[for=mailer_template_footer]').click(function() {
                if ($('#mailer_template_footer').is(':hidden')) {
                    $('#mailer_template_footer').show();
                } else {
                    $('#mailer_template_footer').hide();
                }
            });

            var lists = ['header', 'content', 'footer'];

            function templatePreview() {
                var preview = '';
                $.each(lists, function (k, v) {
                    $element = $('#mailer_template_'+v);
                    preview = preview + $element.val();
                });

                $('#mailer_template_preview_content').html(preview);
            }

            $.each(lists, function (k, v) {
                $element = $('#mailer_template_'+v);
                $element.css({'height': 300});
                $element.change(function() {
                    templatePreview();
                }).trigger('change');
            });

            $('#mailer_template_content').summernote({
                disableResizeEditor: true,
                followingToolbar: false,
                callbacks: {
                    onChange: function(contents) {
                        $('#mailer_template_content').val(contents).trigger('change');
                    }
                }
            });

            $('#mailer_template_subject').change(function() {
                $('#mailer_template_preview_subject').html($(this).val());
            }).trigger('change');

            $('#mailer_template_mailableEntity').change(function() {
                var url = '{{ path('kalitics_notification_mailer_templating_emailable_association', {'id': '__ID__'}) }}';
                if ($(this).val()) {
                    $.get(url.replace('__ID__', $(this).val()), function(response) {
                        $('#mailer_template_emaiable_association').html(response);
                        $('.tooltip.bs-tooltip-top.show').remove();
                        $('[data-toggle="tooltip"]').tooltip();
                    });
                }

            }).trigger('change');

            $('#mailer_template_defaultAttachments').collection({
                allow_up: false,
                allow_down: false,
                allow_duplicate: false,
                /*init_with_n_elements: 1,*/
                remove: '<a href="#" class="btn btn-default"><span class="fa fa-trash"></a>',
                add: '<a href="#" class="btn btn-default"><span class="fa fa-plus-circle"></a>',
                add_at_the_end: true,
            });

            $('form').on('change', 'input[type="file"]', function(e) {
                var fileName = e.target.files[0].name;
                $(this).closest('.custom-file').find('.custom-file-label').html(fileName);
            });

            $('input[type="file"]').each(function() {
                $(this).closest('.custom-file').find('.custom-file-label').html($(this).data('filename'));
                $(this).closest('.custom-file').append('<a href="{{ default_attachment_web }}'+ $(this).data('filename') +'" target="_blank">voir le fichier</a>')
            });
        });
    </script>
{% endblock %}
