{% extends 'app/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

{% endblock %}

{% block title %}Gestion des templates des emails{% endblock %}

{% block body_content %}

    <div class="kt-portlet kt-portlet--tabs">
        <div class="kt-portlet__head">

            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon"><i class="kt-font-primary fa fa-list"></i></span>
                <h3 class="kt-portlet__head-title">
                    Gestion des templates des emails
                </h3>
            </div>
            <div class="kt-portlet__head-actions kt-margin-t-10">
                <a href="{{ path('kalitics_notification_mailer_templating_form', {'id': null}) }}" class="btn btn-label btn-label-primary btn-bold btn-upper">
                    Ajouter un template
                </a>
            </div>
        </div>
        <div class="kt-portlet__body">


            <div class="row">
                <div class="col-12">


                    <div id="template-filters" class="row align-items-center">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-3 kt-padding-t-25 pull-right">
                            {% include('_includes/_general_search_input.html.twig') %}
                        </div>
                    </div>

                    <table id="template-list" class="table kalitics-table" data-url="{{ path('kalitics_notification_mailer_templating_paginate') }}">
                        <thead>
                        <tr>
                            <th>
                                Titre
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Mailable Entity
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/kaliticsnotification/templating.js') }}"></script>
<script>
    $(function() {
        $('body').on('mailing.interface.ready', function() {

            var lists = ['to', 'from', 'replyto'];

            $.each(lists, function (k, v) {
                $('#mail_preview_'+v).css({'width': '100%'});
                $('#mail_preview_'+v).select2({
                    multiple: true,
                    tags: true,
                });
            });

            $('#mail_preview_content').summernote({
                height: 190,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                ],
                callbacks: {
                    onChange: function(contents) {
                        $('#mail_preview_content').val(contents).trigger('change');
                    }
                }
            });

            $('#mail_preview_content').change(function() {
                $('#mailer_template_preview_message').html($(this).val());
            }).trigger('change');

            var url = '{{ path('kalitics_notification_mailer_templating_emailable_attachment', {'id': '__ID__'}) }}';
            $.get(url.replace('__ID__', $('#mailer_template_preview').data('id')), function(response) {
                $('#mailer_template_preview_attachment').html(response);
            });

        });

        $('.modal').on('hide.bs.modal', function() {
            $('#mail_preview_content').summernote('destroy');
        });


    });
</script>
{% endblock %}
