{% block header %}
<table style="width: 100%; text-align: center; background-color: #E9E9E9;">
    <tr>
        <td style="text-align: center; padding: 30px 0;">
            <table style="width: 632px; margin: 0 auto;">
                <tr>
                    <td style="text-align: center; padding: 40px 0; background-color: #121118;">
                        <img src="https://app.kalitics-btp.com/assets/media/logos/logo_kalitics_white.png" alt="Logo Kalitics" style="max-width: 230px;">
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #fff; color: #000; padding: 30px 20px; text-align: left;">
                        {% endblock %}
                        {% block content %}

                        {% endblock %}
                        {% block footer %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding: 40px 0; background-color: #121118; color: #fff;">

                        <img src="https://app.kalitics-btp.com/assets/media/logos/logo-kalitics-btp.png" style="max-width: 40px;"><br>
                        <br>
                        Construit sur-mesure par <a href="https://www.kalitics-btp.com" target="_blank" style="color: #FF441B;"><strong><u>Kalitics</u></strong></a>
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
{% endblock %}