<div class="modal-header">
    <h4 class="modal-title">{{ mailerTemplate.subject }}</h4>
</div>
<div class="modal-body">

    <iframe style="width: 100%; height: 600px; border: 0;" src="{{ path('kalitics_notification_mailer_templating_preview', {'id': mailerTemplate.id}) }}">

    </iframe>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
</div>