{{ form_start(form) }}
<div class="modal-header">
    <h4 class="modal-title">Envoyer un email test</h4>
</div>
<div class="modal-body" id="mailer_template_preview" data-id="{{ mailerTemplate.id }}">

    <div class="row">
        <div class="col-4">

            <div class="d-flex align-items-center mb-2">
                <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
                    A
                </div>
                <div style="flex: 1;">
                    {{ form_widget(form.to) }}
                </div>
            </div>

            <div class="d-flex align-items-center mb-2">
                <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
                    De
                </div>
                <div style="flex: 1;">
                    {{ form_widget(form.from) }}
                </div>
            </div>


            <div class="d-flex align-items-center mb-2">
                <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
                    Répondre à
                </div>
                <div style="flex: 1;">
                    {{ form_widget(form.replyto) }}
                </div>
            </div>

            <div class="d-flex align-items-center mb-2">
                <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
                    Sujet
                </div>
                <div style="flex: 1;">
                    {{ form_widget(form.subject) }}
                </div>
            </div>

            {{ form_widget(form.content) }}

            <div id="mailer_template_preview_attachment">

            </div>
        </div>
        <div class="col-8">
            {{ mailerTemplate.header|raw }}
            <div id="mailer_template_preview_message">

            </div>
            {{ mailerTemplate.footer|raw }}
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-upper btn-label-success pull-right btn-bold">Envoyer</button>
</div>
{{ form_end(form) }}