<div class="kt-checkbox-inline">
{% for key, attachment in attachments %}
    <div class="d-inline-flex btn btn-secondary btn-outline-hover-info mx-1 my-1">
        <label class="kt-checkbox kt-checkbox--brand">
            <input name="mail[files][{{ key }}]" type="checkbox" checked="checked">
            <a href="{{ attachment['path'] is defined ? default_attachment_web~attachment['path'] : attachment['url'] }}" target="_blank">
                <i class="fa fa-paperclip"></i> {{ attachment['name'] }}
            </a>
            <span></span>
        </label>
    </div>
{% endfor %}
</div>