{% if not app.request.xmlHttpRequest %}
    <html>
    <head>

    </head>
    <body>

    </body>
    </html>
{% endif %}


{% macro select2_tags(form, template, label, field) %}

    {% set attr = {} %}
    {% if template and objectValue(template, 'getdefault'~field)|length and objectValue(template, 'getreadonly'~field) %}
        {% set attr = {'readonly': 'readonly'} %}
    {% endif %}

    <div class="{{ template and objectValue(template, 'getdefault'~field)|length == 0 and not objectValue(template, 'getshow'~field) ? 'd-none' : 'd-flex'}} align-items-center mb-2">
        <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
            {{ label }}
        </div>
        <div style="flex: 1;">
            {{ form_widget(form[field], {'attr': attr}) }}
        </div>
    </div>

{% endmacro %}

<div class="modal-header">
    <h5 class="modal-title">{{ flowTitle}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" id="mailer_send">

    {{ form_start(form) }}

    <div class="row">
        <div class="col-5">

            {{ _self.select2_tags(form, template, 'De', 'from') }}
            {{ _self.select2_tags(form, template, 'A', 'to') }}
            {{ _self.select2_tags(form, template, 'Cc', 'cc') }}
            {{ _self.select2_tags(form, template, 'Répondre à', 'replyto') }}

            {% if form.subject is defined %}
                <div class="d-flex align-items-center mb-2">
                    <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
                        Sujet
                    </div>
                    <div style="flex: 1;">
                        {{ form_widget(form.subject) }}
                    </div>
                </div>
            {% endif %}

            {% if form.content is defined %}
                {{ form_widget(form.content) }}
            {% endif %}

            {% if form.linked is defined %}
                {{ form_widget(form.linked) }}
            {% endif %}

            <div class="pt-3">
                <p>Pièces jointes :</p>

                {{ form_widget(form.mailAttachments) }}
            </div>

        </div>
        <div class="col-7">
            <div id="mail_preview_subject" class="mail-preview-element">
                {{ mail.subject }}
            </div>
            <div id="mail_preview_message">
                {% if form.vars.value and form.vars.value.mailerTemplate %}
                {{ form.vars.value.mailerTemplate.header | raw }}
                {% endif %}
                {{ mail.content|raw }}
                {% if form.vars.value and form.vars.value.mailerTemplate %}
                    {{ form.vars.value.mailerTemplate.footer | raw }}
                {% endif %}
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    {% if flowLink %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 pull-right">
            <a href="{{ flowLink['link'] }}">
                {{ flowLink['label'] }}
            </a>
        </div>
    </div>
    {% endif %}

</div>
<div class="modal-footer">
    <button onclick="" type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
    <button onclick="$(this).closest('.modal').find('form').submit();" type="button" class="btn btn-label-success pull-right" data-dismiss="modal">Envoyer</button>
</div>

