{% extends 'app/layout.html.twig' %}

{% block title %}Historique des emails envoyés{% endblock %}

{% block body_content %}

    <div class="kt-portlet kt-portlet--tabs">
        <div class="kt-portlet__head">

            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon"><i class="kt-font-primary fa fa-list"></i></span>
                <h3 class="kt-portlet__head-title">
                    Historique des emails envoyés
                </h3>
            </div>
            <div class="kt-portlet__head-actions kt-margin-t-10">
                &nbsp;
            </div>
        </div>
        <div class="kt-portlet__body">

            <div class="row">
                <div class="col-12">

                    <div id="mail-filters" class="row align-items-center">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-3 kt-padding-t-25 pull-right">
                            {% include('_includes/_general_search_input.html.twig') %}
                        </div>
                    </div>

                    <input type="hidden" id="mail-urls"
                           data-modal="{{ path('kalitics_notification_mailer_modal', {'id': '__ID__'}) }}"
                    >

                    <table id="mail-list" class="table kalitics-table" data-url="{{ path('kalitics_notification_mailer_paginate') }}">
                        <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Par
                            </th>
                            <th>
                                Template
                            </th>
                            <th>
                                Sujet
                            </th>
                            <th>
                                A
                            </th>
                            <th>
                                De
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/kaliticsnotification/history.js') }}"></script>
{% endblock %}