<div class="modal-header">
    <h4 class="modal-title">{{ mail.subject }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-4">
            <div class="text-right">
                par : {{ mail.createdBy }} le : {{ mail.createdAt|localizeddate('full') }}
            </div>

            <div class="border mb-1 p-2">
                De : {{ mail.from | join('; ') }}
            </div>
            <div class="border mb-1 p-2">
                A : {{ mail.to | join('; ') }}
            </div>
            <div class="border mb-1 p-2">
                Cc : {{ mail.cc | join('; ') }}
            </div>
            <div class="border mb-1 p-2">
                Répondre à : {{ mail.replyto | join ('; ') }}
            </div>

            {% for attachment in mail.attachments %}
                {% if attachment['path'] is defined and attachment['id'] is defined %}
                    {% set url = default_attachment_web~attachment['path'] %}
                {% elseif attachment['path'] is defined %}
                    {% set url = attachment_web~attachment['path'] %}
                {% elseif attachment['url'] is defined %}
                    {% set url = attachment['url'] %}
                {% endif %}

                {% if url is defined %}
                    <a href="{{ url }}" target="_blank" class="d-inline-flex btn btn-secondary btn-outline-hover-info mx-1 my-1">
                        <i class="fa fa-paperclip"></i> {{ attachment['name'] }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-8">
            <iframe style="width: 100%; height: 600px; border: 0;" src="{{ path('kalitics_notification_mailer_show', {'id': mail.id}) }}"></iframe>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
</div>