{% macro select2_tags(form, template, label, field) %}

    {% set attr = {} %}
    {% if template and objectValue(template, 'getdefault'~field)|length and objectValue(template, 'getreadonly'~field) %}
        {% set attr = {'readonly': 'readonly'} %}
    {% endif %}

    <div class="bh-line-emails {{ template and objectValue(template, 'getdefault'~field)|length == 0 and not objectValue(template, 'getshow'~field) ? 'd-none' : 'd-flex'}} align-items-center mb-2">
        <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
            {{ label }}
        </div>
        <div style="flex: 1;">
            {{ form_widget(form[field], {'attr': attr}) }}
        </div>
    </div>

{% endmacro %}

<div class="modal-header">
    <h5 class="modal-title">Envoyer en email</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" id="mailer_send" data-url="{{ path('kalitics_notification_mailer_template', {'templateId': '__TEMPLATE_ID__', 'id': '__ID__'}) }}" data-id="{{ id }}">

    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">
                Envoyer un email
            </a>
        </li>
        {% if id is not null %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2">
                Historique
            </a>
        </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">


            {{ form_start(form) }}

            <div class="row">
                <div class="col-5">
                    <div class="mb-2">
                        {{ form_widget(form.mailerTemplate) }}
                    </div>

                    {{ _self.select2_tags(form, template, 'De', 'from') }}
                    {{ _self.select2_tags(form, template, 'A', 'to') }}
                    {{ _self.select2_tags(form, template, 'Cc', 'cc') }}
                    {{ _self.select2_tags(form, template, 'Répondre à', 'replyto') }}

                    {% if form.subject is defined %}
                    <div class="d-flex align-items-center mb-2">
                        <div style="border: 1px solid #DDD; background: #DDD; padding: 8px 5px; font-weight: bold; color: #000; margin-right: 5px;">
                            Sujet
                        </div>
                        <div style="flex: 1;">
                            {{ form_widget(form.subject) }}
                        </div>
                    </div>
                    {% endif %}

                    {% if form.content is defined %}
                    {{ form_widget(form.content) }}
                    {% endif %}

                    {% if form.linked is defined %}
                    {{ form_widget(form.linked) }}
                    {% endif %}

                    <div class="pt-3">
                        <p>Pièces jointes :</p>

                        <div id="mail_default_attachments">

                        </div>

                        {{ form_widget(form.mailAttachments) }}
                    </div>



                </div>
                <div class="col-7">

                    <div id="mail_preview_message">
                        <div id="mailer_preview_content"></div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
        {% if id is not null %}
        <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">

            <div class="row">
                <div class="col-5">

                    {% if history|length == 0%}
                        Aucun envoi
                    {% else %}
                    <table class="table kalitics-table">
                        <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Sujet
                            </th>
                            <th>
                                Destinaire
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in history %}
                            <tr class="bh-list-mail-history {% if loop.first %}active {% endif %}pointer" data-id="{{ entry.id }}">
                                <td>{{ entry.createdAt|date('d/m/Y H:i') }}</td>
                                <td>{{ entry.subject }}</td>
                                <td>{{ entry.to|join('; ') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                    </table>
                </div>
                <div class="col-7">
                    {% for entry in history %}
                        <div class="bh-mail-history" data-id="{{ entry.id }}">
                            <div class="py-3 text-right">
                                Envoyé le : {{ entry.createdAt|localizeddate('full') }}
                                <br>
                                Par : {{ entry.createdBy }}
                                <br>
                            </div>

                            <div class="mail-preview">
                                <div class="mail-preview-element">
                                    Sujet : {{ entry.subject }}
                                </div>
                                <div class="mail-preview-element">
                                    De : {{ entry.from|join('; ') }}
                                </div>
                                <div class="mail-preview-element">
                                    A : {{ entry.to|join('; ') }}
                                </div>
                                <div class="mail-preview-element">
                                    Cc : {{ entry.cc|join('; ') }}
                                </div>
                                <div class="mail-preview-element">
                                    Répondre à : {{ entry.replyto|join('; ') }}
                                </div>
                                <div class="mail-preview-element">
                                    {{ entry.message|raw }}
                                </div>
                                <div class="mail-preview-element">
                                    Pièces jointes :<br>

                                    {% for key, attachment in entry.attachments %}
                                        {% if attachment['path'] is defined %}
                                            {% set url = (key~'' == 'entity' ? default_attachment_web : attachment_web) ~ attachment['path']  %}
                                        {% else %}
                                            {% set url = attachment['url'] %}
                                        {% endif %}
                                        <a href="{{ url }}" target="_blank" class="d-inline-flex btn btn-secondary btn-outline-hover-info mx-1 my-1">
                                            <i class="fa fa-paperclip"></i> {{ attachment['name'] }}
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        {% endif %}
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
    <button onclick="$(this).closest('.modal').find('form').submit();" type="button" class="btn btn-label-success pull-right" data-dismiss="modal">Envoyer</button>
</div>

