<div class="kt-timeline-v2__item">
    <span class="kt-timeline-v2__item-time">{{ userNotification.notification.createdAt|date('d/m') }}<br/>{{ userNotification.notification.createdAt|date('H:i') }}</span>
    <div class="kt-timeline-v2__item-cricle">
        <i class="fa fa-genderless kt-font-{% if userNotification.isSeen %}brand{% else %}danger{% endif %}"></i>
    </div>
    <div class="kt-timeline-v2__item-text kt-padding-top-5">
        <b {% if selected %}style="color: #828181;"{% endif %}>{{ userNotification.notification.subject }}</b><br/>
        {{ userNotification.notification.message|raw }}
        {% if userNotification.notification.link is not null %}
            <a href="{{ userNotification.notification.link }}" class="kt-link kt-link--brand kt-font-bolder">voir</a>
        {% endif %}
    </div>
</div>
