
<div class="modal-header">
    <h4 class="modal-title">{{ userNotifications.notification.subject }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">

            {{ userNotifications.notification.message }}

        </div>
    </div>
</div>
<div class="modal-footer">
    <button onClick="$('#kalitics_notifications_container').load('{{ path('kalitics_notification_display') }}');" type="button" class="btn btn-label-danger" data-dismiss="modal">Fermer</button>
    {% if userNotifications.notification.link is not null %}
        <a href="{{ userNotifications.notification.link }}" class="btn btn-label-success">Voir</a>
    {% endif %}
</div>
