{% apply spaceless %}
    <a
            class="btn btn-sm btn-icon btn-icon-md btn-label-primary"
            href="{{ path('kalitics_notification_mailer_templating_clone', {id: mailerTemplate.id}) }}"
            title="Dupliquer"
    >
        <i class="fa fa-clone"></i>
    </a>
{% endapply %}
