{% apply spaceless %}
    {% if not mailerTemplate.decontextualized %}
        <a
                class="btn btn-sm btn-icon btn-icon-md btn-label-danger"
                href="{{ path('kalitics_notification_mailer_templating_remove', {id: mailerTemplate.id}) }}"
                title="Supprimer"
        >
            <i class="fa fa-trash"></i>
        </a>
    {% endif %}
{% endapply %}
