{% apply spaceless %}
    {% if not mailerTemplate.decontextualized %}
        <a
                class="btn btn-sm btn-icon btn-icon-md btn-label-primary"
                href="{{ path('kalitics_notification_mailer_templating_form', {id: mailerTemplate.id}) }}"
                title="Modifier"
        >
            <i class="fa fa-edit"></i>
        </a>
    {% endif %}
{% endapply %}
