{% apply spaceless %}
    <a
            class="btn btn-sm btn-icon btn-icon-md btn-label-primary"
            onclick="openModal('largeModal', '{{ path('kalitics_notification_mailer_templating_send', {id: mailerTemplate.id}) }}', () => { $('body').trigger('mailing.interface.ready')})"
            title="Envoyer"
    >
        <i class="fa fa-paper-plane"></i>
    </a>
{% endapply %}
