{% apply spaceless %}
    <a
            class="btn btn-sm btn-icon btn-icon-md btn-label-primary"
            onclick="openModal('largeModal', '{{ path('kalitics_notification_mailer_templating_modal', {id: mailerTemplate.id}) }}')"
            title="Visualiser"
    >
        <i class="fa fa-search"></i>
    </a>
{% endapply %}
