{% apply spaceless %}
    {{ include('@KaliticsNotification/mailer-templating/listing/columns/actions/_send.html.twig') }}
    {{ include('@KaliticsNotification/mailer-templating/listing/columns/actions/_show.html.twig') }}
    {{ include('@KaliticsNotification/mailer-templating/listing/columns/actions/_edit.html.twig') }}
    {{ include('@KaliticsNotification/mailer-templating/listing/columns/actions/_clone.html.twig') }}
    {{ include('@KaliticsNotification/mailer-templating/listing/columns/actions/_delete.html.twig') }}
{% endapply %}
